# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

SECRET_KEY_BASE=41a317b8659b8d4b73a7851491d3fc831feb29820d1388f973c15dc703a49b0f757d1b61107be0d8899d8d8c84ed0ccdbe898c29001b197bc759b7fdb7f7bb45
REDIS_URL=redis://localhost:6379/1
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
